@font-face {
    font-family: 'spicy';
    src: url('../fonts/SpicyRice-Regular.ttf');
}

.spicy {
    font-family: spicy;
}

#animationsHere {
    display: none;
}

body{
    /* background: red; */
}

.hippoBg{
    background: url("../img/hippoGif.gif") no-repeat fixed center;
/* 
    background: url("../img/bg.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}
